*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: yellow;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1{
    margin-left: 20px;
}

ul{
    cursor: pointer;
    display: flex;
    height: 100%;
    align-items: center;
    list-style: none;
    justify-content: flex-end;
}
ul>li{
    font-size: 20px;
    margin: 0 20px;
}